#myModal{
	margin: 20px 0px;
}

#myModal ul{
	list-style: none;
/*
    width: 18%;
    display: inline-block;
    margin: 10px;
*/
    background-color: #ebe9e9;
    padding: 10px;
    border-radius: 5px;
    border: 10px solid #fff;
	-webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.5);
}

.homeIntro img{
	margin: 40px auto;
}

#myModal ul li h1{
	margin-top: 0px;
    font-size: 18px;
    color: #555;
}

/*#myModal ul li:first-child{
	border-bottom: 1px solid red;
}*/

#myModal ul li h5{
	/*width: 20%;
	word-wrap: break-word;*/
	font-weight: 400;
}

.contactImages img{
	display: inline;
	-webkit-filter: sepia(0);
	filter: sepia(0);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.contactImages a{
	text-decoration: none;
	display:inline-block;
}

.contactImages a:hover img{	
	-webkit-filter: sepia(100%);
	filter: sepia(100%);
}

.conatctCaption{ 
	margin-top: 5px;
	color: #98969f;
	font-size: 60%;
	text-transform:uppercase;
    text-align: center; 
}

.enquiryForm{
	border: 1px solid red;
	width: 100%
}

.formPadding{
	margin: 20px 20px 5px 20px;
}

.formPadding tr td{
	background-color: #fff;
	color: #666;
	height: 30px;
	margin-right: 30px;
}

.formPadding tr{
	height: 30px;
	text-align: left;
	
}

.formBg{
	width: 35%;
}

.inputuser{
	width: 80%;
	border: 1px solid #666;
}

select{
	width: 80%;
	border: 1px solid #666;
}

textarea{
	width: 80%;
	border: 1px solid #666;
}

.submitBtn{
	background-color: #396EA4;
	color: #fff;
	border: 1px solid #666;
}

.contactPage{
	margin-bottom: 20px;
}

.address {
	text-align: left;
	font-size: 14px;
    color: #333333;
    font-weight: 100;
}

.contactPage h5{
	display: inline-block;
	color: #cc834e;
    font-weight: bold;
	border-bottom: 2px solid #cc834e;
}

.contactPage span{
	font-size: 12px;
    color: #333333;
    font-weight: 100;
}

.contactDiv{
	display: inline-block;
	width: 36%;
}
#map {
    height:290px;
    width:100%;
    border: 2px solid #999;
}

.maphead{
	display: inline-block;
	/*margin-left:10%;*/
	width:100%;
	margin-bottom: 20px;
}

.contactFormLeft{
	width: 100%;
	padding: 10px;
	background-color: rgba(0,0,0,0.1);
}

.contactFormLeft img{
	
	border-radius: 5px;
	/*margin: 10px;*/
}

.contactFormLeft h1{
	word-wrap: break-word;
	font-size: 18px;
}

.contactFormLeft h6{
	word-wrap: break-word;
}

.form-group{
	width: 49%;
}

.form-inline .form-control {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}


.form-inline ul li{
	display: block
}

.form-control{
	background-color: rgba(0,0,0,0.1);
	border: none;
	border-radius: 0px;
	box-shadow: none;
	height: 50px;
	font-size: 16px;
	margin: 0px 10px 10px 10px;
	color: #000;
}

.form-control:focus {
    border-color: none;
    background-color: #D81A23;
    outline: 0;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

textarea{
	display: block;
	background-color: rgba(0,0,0,0.1);
	border: none;
	border-radius: 0px;
	box-shadow: none;
	margin: 10px ;
	color: #000;
	width: 100%;
	padding: 10px;
}

textarea:focus {
    border-color: none;
    background-color: #D81A23;
    outline: 0;
    color: #fff;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

label{
	margin-left: 10px;
	font-weight: 600;
	margin-bottom: 0px;

}

.btn-default{
	background-color: rgba(0,0,0,0.1);
	color: #000;
	font-weight: 600;
	margin: 10px;
}

.btn-default:hover{
	background-color: #f8df2f;
}

/*.btn-default:focus, .btn-default.focus{
    background-color: #f8df2f;
}*/

/*.btn:visited, .btn.visited {
	background-color: #f8df2f;
}*/


.btn-default:active {
    background-image: none;
    background-color: #f8df2f;
    color: red;
     outline: 0; 
     -webkit-box-shadow: none; 
    box-shadow: none;
}

/*.btn-default.active, .open > .dropdown-toggle.btn-default {
    background-color: #f8df2f;
}*/
.btn-default span{
	margin-right: 5px;
	font-weight: 700;
}

.readBtn .glyphicon{
	color: #fff;
	padding: 0px;
	margin: 0px;

}

