<footer>
	<div class="container-fluid">
		<div class="row">
			<div class="footerNavigation">
				<div class="container">
					<div class="row">
						<div class="col-md-12 footerButtons">
							<h3>Follow Us</h3>
							<ul class="footerIcons">
								<li>
									<button ng-click="navigateFacebook()">
										<i class="fa fa-facebook"></i>
										<span class="footerIconTxt">Facebook</span>
									</button>
								</li>
								<li>
									<button ng-click="navigateGoogle()">
										<i class="fa fa-google-plus"></i>
										<span class="footerIconTxt">Google Plus</span>
									</button>
								</li>
								<li>
									<button ng-click="navigateTwitter()">
										<i class="fa fa-twitter"></i>
										<span class="footerIconTxt">Twitter</span>
									</button>
								</li>
								<li>
									<button ng-click="navigateYoutube()">
										<i class="fa fa-youtube-play"></i>
										<span class="footerIconTxt">Youtube</span>
									</button>
								</li>
								<li>
									<button ng-click="navigateGmail()">
										<i class="fa fa-envelope" aria-hidden="true"></i>
										<span class="footerIconTxt">GMail</span>
									</button>
								</li>
								<li>
									<button ng-click="navigateLinkedin()">
										<i class="fa fa-linkedin" aria-hidden="true"></i>
										<span class="footerIconTxt">Linkedin</span>
									</button>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="footerBottom">
				<div class="container">
					<div class="row">
						<div class="col-sm-8 col-md-8 alignCenter">
							<div class="footerCopyRight">
								Copyright © 
								<a>jaijhondimata.</a>
								 All Rights Reserved
							</div>
						</div>
						<div class="col-sm-4 col-md-4">
							<div  class="footerPayment alignCenter">
								<a>
									<img src="images/footer_Payment.png" class="img-responsive" />
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
	</footer>